.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.results-container {
  margin: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px;
}

.station-title {
  text-align: center;
}
