.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 12px;
  padding: 12px;
  cursor: pointer;
}

.result.selected {
  border: 2px solid blue;
}

.date {
  margin: 6px;
  display: flex;
  align-items: center;
  gap: 6px;
  border-bottom: 2px solid transparent;
}

.selected .date {
  border-bottom: 2px solid blue;
}

.result-table {
  width: 180px;
}

.low-tide-result {
  background-color: aqua;
}

.sunrise {
  border-bottom: 1px solid black;
}

.sunset {
  border-top: 1px solid black;
}
